<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
     welcome to login
     <form  action="/submit" method="post">
      Name : <input type="text" name="name" >
      password :  <input type="password" name="password" >
      email :  <input type="email" name="email" value="">
      <button type="submit" name="button" value='submit'>Submit</button>
     </form>
  </body>
</html>
