<!DOCTYPE html>
<html lang="en" dir="ltr">
<style>
</style>
  <head>
    <meta charset="utf-8">
    <title> <%= title %> </title>
    <% include templates/header.ejs %>
  </head>
  <body>
    <div class="username">
     welcome <%=details%> to  eduLearN
     <br>
     <a href='/logout'><button type='button' class='btn' name='logout'>Logout</button></a>
    </div>
  </body>
  </html>
