<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="/css/style.css" type='text/css' />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <head>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" style="cursor:pointer;width:1400px;">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" style="color:white" href="/">EduLearN</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li class="active"><a href="/courses">Courses</a></li>
          <li class="active"><a href="/quiz">Questions</a></li>
          <li class="active"><a href="/userlogin">Sign In</a></li>
          <li class="active"><a href="#">Blog</a></li>
        </ul>
      </div>
    </nav>
</body>
</html>
